<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
        <title>Index Page</title>
    </header>
    
    <body>
        <nav>
            <a href="{{ url_for('home') }}" class="logo">CityMeetsMe</a>
            <a href="{{ url_for('about') }}" >About</a>
            <a href="{{ url_for('review') }}">Review</a>
            <a href="{{ url_for('recommendation')}}">Recommendation</a>
        </nav>
        
        <section class="content">
            <h1>CityMeetsMe</h1>
            
            <p>CityMeetsMe is dedicated to bringing safe locations to you anytime and anywhere. 
                Through personalized recommendations and changing technology, 
                we aim to navigate our exploration of urban environments together. </p>
        </section>
    </body>

</html>