<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
        
        <title>Recommendation Page</title>
    </header>

    <body>
        <nav>
            <a href="{{ url_for('home') }}" class="logo">
                <img src=" {{url_for('static', filename='favicon.ico')}} ">
            </a>
            <a href="{{ url_for('about') }}" >About</a>
            <a href="{{ url_for('review') }}">Review</a>
            <a href="{{ url_for('recommendation')}}" class="active">Recommendation</a>
        </nav>
        
        <section class = "content">

            <form class="pref-form" method="POST" action="{{url_for('recommendation')}}">
                <fieldset> 
                    <legend>Enter your preferences!</legend>

                    <div class="slide-container"> 

                        <div class = "slidebar"> 
                            <p>Food Quality</p>
                            <input type="range" min="0.0" max="1.0" value="{{val1}}" class="slider" name="attr1" step="0.1">
                            <p>Food Quantity</p>
                        </div>
                        <div class = "slidebar"> 
                            <p>Social Environment</p>
                            <input type="range" min="0.0" max="1.0" value="{{val2}}" class="slider" name="attr2" step="0.1">
                            <p>Quiet Environment</p>
                        </div>
                        <div class = "slidebar"> 
                            <p>Attribute A</p>
                            <input type="range" min="0.0" max="1.0" value="{{val3}}" class="slider" name="attr3" step="0.1">
                            <p>Attribute B</p>
                        </div>
                        

                        
                    </div>
                    <div class="submit-buttons">
                        <input type="submit" name="submit" value="submit">
                        <input type="submit" name="submit" value = "reset">
                    </div>
                </fieldset>



            </form>

            {%for tup in locs%}
                <div class="recommendation">
                    <div class="rec-inner"> 

                        <div class="rec-text">
                            <h1> {{tup[0].name}} </h1>
                            
                                    <p>Score: {{tup[1]}}</p>
                                    <p>Type: </p>
                                    <p>Other: </p>
                                
                        </div>
                        
                        <div class="rec-right">
                            <div class='rec-button'>
                                <button>Nearby</button>
                                <button>Contact</button>
                                <button>Share</button>
                            </div>
                            <div> 
                                <img src="{{ url_for('static',filename='img/ikes.png')}}"/>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100980.5538763586!2d-122.62093255664061!3d37.72807300000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7db3d831cb0f%3A0x8e46af0fb8f046ae!2sIke&#39;s%20Love%20%26%20Sandwiches!5e0!3m2!1sen!2sus!4v1712563628898!5m2!1sen!2sus" width="100" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

    </body>

</html>