<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
        
        <title>Recommendation Page</title>
    </header>

    <body>
        <nav>
            <a href="{{ url_for('home') }}" class="logo">CityMeetsMe</a>
            <a href="{{ url_for('about') }}" >About</a>
            <a href="{{ url_for('review') }}">Review</a>
            <a href="{{ url_for('recommendation')}}" class="active">Recommendation</a>
        </nav>
        
        <section class = "content">
            <h1>Recommendation Page</h1>
            <hr />

            <form method="POST" action="{{url_for('recommendation')}}">
                <fieldset> 

                    <div class="slide-container"> 

                        <div class = "slidebar"> 
                            <p>Attribute A</p>
                            <input type="range" min="0.0" max="1.0" value="{{val1}}" class="slider" name="attr1" step="0.1">
                            <p>Attribute B</p>
                        </div>
                        <div class = "slidebar"> 
                            <p>Attribute A</p>
                            <input type="range" min="0.0" max="1.0" value="{{val2}}" class="slider" name="attr2" step="0.1">
                            <p>Attribute B</p>
                        </div>
                        <div class = "slidebar"> 
                            <p>Attribute A</p>
                            <input type="range" min="0.0" max="1.0" value="{{val3}}" class="slider" name="attr3" step="0.1">
                            <p>Attribute B</p>
                        </div>

                        
                    </div>
                    <input type="submit" name="submit" value="submit">
                    <input type="submit" name="submit" value = "reset">
                </fieldset>



            </form>

            

    </body>

</html>