<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
        
        <title>Recommendation Page</title>
    </header>

    <body>
        <nav>
            <a href="{{ url_for('home') }}" class="logo">CityMeetsMe</a>
            <a href="{{ url_for('recommendation')}}" class="active">Recommendation</a>
            <a href="{{ url_for('review')}}">Review</a>
            <a href="{{ url_for('about') }}">About</a>
        </nav>
        
        <section class = "content">
            <h1>Recommendation Page</h1>
            <hr />

            <form>
                <fieldset> 

                    <div> 
                        <p>Attribute A</p>
                        <input type="range" min="1", max="100", value="50", class="slider", id = "attr1">
                        <p>Attribute B</p>
                    </div>
                    
                    <input type="submit">
                </fieldset>
            </form>

    </body>

</html>