
* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    height: 60px;
}

nav h1 {
    display: inline;
    color: white;
    float: left;
    padding: 0px 16px;
    font-size: 26px;
}

nav a {
    float: right;
    display: block;
    text-align: center;
    padding: 12px 14px;
    margin: 4px;
    height: auto;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    border: solid;
    border-width: 2px;
    border-bottom-width: 5px;
    border-color: white;
}

nav a:hover {
    background-color: rgb(202, 202, 202);
    
}

.logo {
    font-size: large;
    float: left;
}

.active {
    background-color:  rgb(136, 211, 126);
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.content {
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.slide-container {
    display: flex;
    flex-direction: column;
}

.slidebar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 20px;
}
.slidebar p{
    display: inline;
    margin: 0;
    padding: 0;
}

.slider {
    width: 55%;
    height: 15px;

}

.recommendation {
    border: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    border-bottom-width: 3px;
    border-left-width: 3px;
    background-color: rgb(70, 70, 70);
    color: white;
    margin: 10px;
    height: 200px;
}

.rec-inner {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-content: baseline;
    height: 100%;
}

.rec-inner iframe {
    height:auto;
    width: 150px;
    height: 90%;
    margin-top: 10px;
}

.rec-inner img {
    width: 150px;
    object-fit: cover;
    height: 90%;
    margin-top: 10px;
}

.rec-info {

}

.pref-form {
    margin-bottom: 30px;
}

.button-container {
    border: dashed;
    border-width: 1px;
    padding: 15px;
}

.top-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

.bot-container {
    display: flex;
    justify-content: space-evenly;
}

.pick {
    border: solid;
    border-width: 1px;
    padding: 1px;
}